{% extends 'base.html.twig' %}

{% block title %}Movie list{% endblock %}

{% block body %}
    {{ include('movie/_menu.html.twig') }}

    {% for key, movie in movies %}
        <div class="card">
            <h5 class="card-header">{{ movie.name }}</h5>
            <div class="card-body">
                <p class="card-text">{{ movie.description }}</p>
                <div class="">
                    <div>{{ movie.year }}</div>
                    <div></div>
                    <div></div>
                </div>
                {{ include('movie/_delete_form.html.twig') }}
            </div>
        </div>
    {% else %}
        <div>
            no records found
        </div>
    {% endfor %}

{% endblock %}
